/* lista */

.header-lista{
    text-align: center; 
    margin: 30px; 
    font-weight:bold
}

.ly-lista
{
display: flex; 
flex-direction: row; 
justify-content: center; 
margin: 50px;
}

.videos-lista
{
text-align: center;
}

.ifr-lista
{
border-radius: 15px;
}

.bl-txt-lista
{
text-align: justify;
}

.titulo-lista
{
color:red; 
font-weight:bold;
font-size: 18px;
padding-left: 25px;
}

.descritivo-lista
{
font-weight: light;
font-size: 28px;
text-align:left;
padding-top: 25px; 
padding-left: 25px;
}

@media only screen and (max-width: 600px) {
   
    /* Responsividade estilo lista */
   
    .header-lista{
        text-align: center; 
        margin: 10px; 
        font-weight:bold;
        font-size: 15px;
    }
    
    .ly-lista
    {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    margin: 10px;
    }
    
    .videos-lista
    {
    text-align: center;
    }
    
    .ifr-lista
    {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    }
    
    .bl-txt-lista
    {
    text-align: center;
    }
    
    .titulo-lista
    {
    color:red; 
    font-weight:bold;
    font-size: 14px;
    padding-left: 0px;
    }
    
    .descritivo-lista
    {
    font-weight: light;
    font-size: 14px;
    text-align:left;
    padding-top: 5px; 
    padding-left: 0px;
    }
  }

  @media only screen and (min-width: 600px) {
     /* Responsividade estilo lista */
   
    .header-lista
    {
    text-align: center; 
    margin: 30px; 
    font-weight:bold
    }
    
    .ly-lista
    {
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    margin: 50px;
    }
    
    .videos-lista
    {
    text-align: center;
    }
    
    .ifr-lista
    {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    }
    
    .bl-txt-lista
    {
    text-align: justify;
    }
    
    .titulo-lista
    {
    color:red; 
    font-weight:bold;
    font-size: 100%;
    padding-left: 25px;
    }
    
    .descritivo-lista
    {
    font-weight: light;
    font-size: 100%;
    text-align:left;
    padding-top: 25px; 
    padding-left: 25px;
    }
  }

 