
/*INDEX*/
#caixa_introducao{
    padding-top: 150px; 
    padding-right: 105px;
}

#logo_intro{
    width: 60%; 
    height: 60%;
}

.text-center {
    padding-top: 20px;
}

#introducao{
    color: black;
    font-size: 12px;
    text-align: left;
    border-radius: 20px;
    border-color: white;
    width: 510px ;
    margin-left: 37px;
}

#botao_entrar_introducao{
    width: 510px; 
    height: 45px; 
    text-align: center;
}

#imagem1 {
    background-image: url("../images/imagem1.png");
    background-position: 0 100%;
    background-size: cover;
    background-color: #e2001a;
    flex-grow: 1;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
}

.nome_projeto{
    color: #e2001a;
    font-size: 26px;
    font-weight: 700;
    padding-top: 25px;
}


/*
*/

*{
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

.logo-jc{
    text-align: center;
    padding-top: 70px;
}


form.usuario{
    padding-left: 590px;
    padding-right: 50px;
    padding-top: 40px;
}
.campo{
    width: 60%;
    height: 60%;
    padding: 20px 20px;
    margin: 20px 0;
    box-sizing: border-box;
    border-radius: 10px;
    border-width: 1px;
    
}

.campo2{
    width: 51%;
    height: 60%;
    padding: 20px 20px;
    margin: 20px 0;
    box-sizing: border-box;
    border-radius: 10px;
    border-width: 1px;
}

.btn-entrar{
    background-color: red;
    border-width: 0px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    
}

.lembrar-info{
    padding-right: 0px;
    padding-left: 590px;
    padding-top: 12px;
}

p.contato{
    padding-top: 80px;
    padding-right: 0px;
    padding-left: 590px;
    font-size: 17px;
}

.trocar-senha{
    padding-left: 410px;
}


/* PAGINA DE BUSCA */

/*Geral*/

.body-busca{
    background-color:antiquewhite;
    margin: auto;
}

.titulo_pag_tags{
    display: flex;
    justify-content: center;
    padding-left: 50px; 
    color: white; 
    font-weight: bolder; 
    font-size: larger;
}

.cel-header{
    display: flex;
    flex-direction: column;
    background-image: url('../images/recife-antigo.jpg'); 
    background-attachment: fixed; 
    border-radius: 25px;
    margin-bottom: 10px;
}

.d-flex {
    max-width: 25% !important; 
    height: 80% !important; 
    text-align:center !important; 
    padding:20px !important; 
    margin:auto !important;
    
}

/* A implementar */

/* .cel-boas-vindas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 25px;
    background-color: #ffffff;
    margin-top: 10px;
}

.texto_bv{
    color: black; 
    font-weight: normal; 
    font-size: 17px;
    text-align: center;
    padding-top: 10px;
} */

.bloco-superior{
    display: flex;
    margin: auto;
    justify-content: center;
    flex-direction: column;
    width: 75%;
    padding: 0px;
}

#btn_submit{ 
    background-color: red !important;
    margin-top: 40px;
    margin-bottom: 20px;
    height: 70px;
    color: azure;
    font-size: 20px; 
    border-radius: 10px !important; 
    text-align: center !important;
}

#lista{                     
    height:48;
    width: 100;
}

  /* Layout do preview */

  .preview {
    padding-right: 0px;
}

/* Responsividade */

/* @media only screen and (max-width: 800px) {
    .body-busca{
        background-color:antiquewhite;
        margin: auto;
    }

    .header-logo{
      margin: auto;
      display: flex;
      justify-content: center;
    }
    
    .titulo_pag_tags{   
        color: white; 
        font-weight: bolder; 
        font-size: 10px;
    }
    
    .cel-header{
        display: flex;
        flex-direction: column;
        background-image: url('../images/recife-antigo.jpg'); 
        background-attachment: fixed; 
        border-radius: 25px;
        width: 70%;
    }
    
    .d-flex {
        max-width: 18% !important; 
        height: 80% !important; 
        text-align:center !important; 
        padding:10px !important; 
        margin:auto !important;
    }

    .bloco-superior{
        display: flex;
        margin: auto;
        justify-content: center;
        flex-direction: column;
        width: 71%;
        padding: 15px;
    }
    
    #lista{                     
        height:48;
        width: 100;
    }

    .preview {
        padding-right: 0px;
    }
    
  }
 */